.row
  .small-12.columns
    %h3 My Games
    %table.results
      %thead
        %tr
          %th Name
          %th Minimum Players
          %th Maximum Players
          %th Playing Time (minutes)
      %tbody
        - unless @games.empty?
          - @games.each do |game|
            = render game
