.row
  .small-12.columns
    %h3= "Game suggestions for #{@for_string}"
.row
  .small-12.columns
    - unless @suggestions.empty?
      %table.results
        %thead
          %tr
            %th Name
            %th Minimum Players
            %th Maximum Players
            %th Playing Time (minutes)
        %tbody
          - @suggestions.each do |suggestion|
            = render partial: "games/suggestion", locals: {suggestion: suggestion}
      = paginate @suggestions
    - else
      No games found