$global-radius: 5px;

nav.top-bar {
  margin-bottom: 30px;
}

.section {
  background-color: #CCCCFF;
  border-radius: $global-radius;
  padding-left: 8px;
  padding-right: 8px;
  input, label {
    display: inline;
  }
}

#title {
  margin-left: 15px;
}

.left > .divider:first-child {
  margin-left: 15px;
}

table.results, table.plays, table.suggestions {
  width: 100%
}

.r-align {
  text-align: right;
}

.centered {
  width: auto;
  text-align: center;
  margin: 0 auto;
}

ul.pagination {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

input.disabled-field[readonly=readonly], input.disabled-field[disabled="disabled"]:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
}