$global-radius: 5px;

nav.top-bar {
  margin-bottom: 30px;
}

.section {
  background-color: #CCCCFF;
  border-radius: $global-radius;
  padding-left: 8px;
  padding-right: 8px;
}

#title {
  margin-left: 15px;
}

.left > .divider:first-child {
  margin-left: 15px;
}

table.results {
  width: 100%
}

.r-align {
  text-align: right;
}

.centered {
  width: auto;
  text-align: center;
  margin: 0 auto;
}

ul.pagination {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}