$global-radius: 5px;

nav.top-bar {
  margin-bottom: 30px;
}

.section {
  background-color: #CCCCFF;
  border-radius: $global-radius;
  padding-left: 8px;
  padding-right: 8px;
}

#title {
  margin-left: 15px;
}

.left > .divider:first-child {
  margin-left: 15px;
}

table.results {
  width: 100%
}